<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <div role="alert">
        <h4><%= err.message  %> </h4>
            <p><%= err.stack%> </p>
        <hr>
    </div>
</body>
</html>